{% extends 'main/app/.base.html' %}
{% load static %}

{% block layout %}

<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{% static 'main/images/dojo_logo.png' %}" alt="Logo" width="30" height="30"
            class="d-inline-block align-text-top mr-5" style="position: relative; margin:0px 10px;">
        <span class="fs-4 h">Dojo</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/app/dashboard" class="nav-link text-white">
                <i class="fa-solid fa-torii-gate"></i>
                <span class="h">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/app/cryptocurrencies" class="nav-link text-white">
                <i class="fa-solid fa-chart-line"></i>
                <span class="h">Cryptocurrencies</span>
            </a>
        </li>
        <li>
            <a href="/app/leaderboards" class="nav-link text-white">
                <i class="fa-solid fa-flag"></i>
                <span class="h">Leaderboards</span>
            </a>
        </li>
        <li>
            <a href="/app/tutorials" class="nav-link text-white">
                <i class="fa-solid fa-life-ring"></i>
                <span class="h">Tutorials</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#"
            class="d-flex align-items-center text-white justify-content-between text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <div>
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong class="h">{{ user.username }}</strong>
            </div>
            <!--
            <div class="rank"
                style="background-color: red; margin-left: 20px; width: 30%; text-align: center; font-family: 'Space Mono'; font-size: 12px;">
                {{ user.rank }}</div>
            -->
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
    </div>
</div>
<div id="b">
    <nav class="navbar bg-dark border-body">
        <div class="container-fluid">
            <a class="navbar-brand text-white" style="font-family: inter;">Dashboard</a>
            <div class="d-flex" role="search">
                <button id="total_display" class="btn text-white btn-outline-light" style="margin-right: 10px;">Current Balance: $</button>
                </form>
            </div>
    </nav>
    {% block body %}{% endblock %}
</div>
{% endblock %}