{% extends 'main/app/.layout.html' %}
{% load static %}

{% block body %}
<div class="dashboard-div bg-dark">
    <h5 style="font-family: 'space mono';">New Trade</h5><br>
    <form id="buy-sell-form">
        <span style="display: flex;">
            <!-- Input fields for buy/sell actions -->
            <select id="cryptocurrency-select" class="form-select" style="width: 10%; margin-right:10px;"
                aria-label="Default select example">
                <option selected>BTC</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <input class="form-control" style="width: 30%; margin-right: 10px;" type="number" id="quantity"
                placeholder="Quantity">
            <button class="btn btn-outline-danger" style="margin-right: 10px;" id="buy-button"
                type="button">Buy</button>
            <button class="btn btn-outline-danger" id="sell-button" type="button">Sell</button>
        </span>
    </form>
    <div id="result-message"></div>
</div>
<div class="dashboard-div bg-dark d-flex justify-content-between">
    <div style="width:50%;">
        <h5 style="font-family: 'space mono';">Portfolio</h5>
        <br>
        <table id="portfolio_table">
            
        </table>
    </div>
    <div>
        <canvas id="portfolioChart" style="width:100%; height: 200px;"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}