{% extends 'main/app/.layout.html' %}
{% load static %}

{% block body %}
<div class="dashboard-div bg-dark">
    <h5 style="font-family: 'space mono';">New Trade</h5>
    <form id="buy-sell-form">
        <span style="display: flex;">
            <select id="crypto_dropdown" class="form-select" style="width: 18%; margin-right:10px;"
                aria-label="Default select example">
                <option selected>Select currency</option>
            </select>
            <input class="form-control" style="width: 30%; margin-right: 10px;" type="number" id="quantity"
                placeholder="Quantity">
            <button class="btn btn-outline-danger" style="margin-right: 10px;" id="buy-button"
                type="button">Buy</button>
            <button class="btn btn-outline-danger" id="sell-button" type="button">Sell</button>
        </span>
    </form>
</div>
<div class="dashboard-div bg-dark d-flex justify-content-between">
    <div>
        <h5 style="font-family: 'space mono';">Portfolio</h5>
        <br>
        <table id="portfolio_table" class="width: 100%;">
            
        </table>
    </div>
    <div>
        <canvas id="portfolioChart" style="width:100%; height: 200px;"></canvas>
    </div>
</div>


{% endblock %}