{% extends 'main/site/.layout.html' %}
{% load static %}

{% block body %}
<section id="hero">
    <h1>The realistic and competitive online cryptocurrency simulator.</h1><br>
    <p>Practice and flex your cryptocurrency trading skills with real-world currencies, rates and data.</p>
    <span>
        <button type="button" class="btn btn-outline-light">Learn More</button>
        <button type="button" class="btn btn-outline-danger">Join</button>
    </span>
</section>
<section id="body">
    <div class="about-block">
        <div>
            <i class="fa-solid fa-user-ninja ic"></i>
            <h2>The Dojo is a cryptocurrency trading simulator like no other</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum explicabo asperiores obcaecati, illum consequuntur tempore architecto ut vero officiis minima perferendis veritatis et dolor! Officia, repellendus debitis. Vero, veniam deserunt.</p>
        </div>
        <div>
            <img src="https://assets-global.website-files.com/5efb0b7816032fd33ce6059c/62d5ba2d8421b161d7433fcc_Group%201914.png"  alt="">
        </div>
    </div>
</section>
{% endblock %}